@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1366px;

  /* ===== Colors neutral ===== */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* ===== Gradients ===== */
  --scissors-gradient: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
--paper-gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
--rock-gradient: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
--lizard-gradient: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
--cyan: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

}

body {
    background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%)) no-repeat;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;   
    padding: 2em 0;
}

.width {
    width: 85%;
    margin: 0 auto;
}

/* ===== SCORE CONTAINER ===== */
.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--header-outline);
    border-radius: 0.4em;
    padding: 0.7em;
}

.logo-wrapper {
    width: 34%;
    padding: 0.5em;
}
.logo-wrapper img {
    width: 100%;
}

.score-wrapper {
    background: white;
    display: flex;
    padding: 0.4em 1.3em;
    border-radius: 0.2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score__caption {
    font-size: 0.7em;
    color: var(--score-text);
    letter-spacing: 0.13em;
    font-weight: 700;
}

.score__number {
    font-size: 2.3em;
    font-weight: 700;
    color: var(--dark-text);
}

/* ===== OPTIONS ===== */
.container-options {
    background: red;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    background: url('../images/bg-triangle.svg') no-repeat center;
    background-size: 70%;

}

.option {
    max-width: 50%;
    height:8em;
    width: 8em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -11px 0 -5px rgba(59, 59, 59, 0.295);
    
}


.option::after {
    content: '';
    background: white;
    height:6em;
    width: 6em;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0 6px 0 0px rgba(139, 139, 139, 0.199);
}

.icon-paper {
    background: var(--paper-gradient);
}
.icon-scissors {
    background: var(--scissors-gradient);
}
.icon-rock {
    background: var(--rock-gradient);
}

.option img {
    z-index: 1;
}

